@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@import url(https://fonts.googleapis.com/css?family=Rubik:regular600,700,800,900,italic,500italic,700italic,800italic,900italic);
body {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 235, 235);
}
h1 {
    color: #cc5151;
    font-size: 20px;
    font-weight: 700;
}
.btn {
    display: inline-block;
    text-align: center;

    font-weight: 300;
    color: #525252;
    text-decoration: none;
    cursor: pointer;

    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid transparent;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
}
/* Ефекти при наведенні та фокусі для всіх кнопок */
.btn:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}

header {
    background-color: #fff;
}
.header__container {
    min-height: 103px;
    padding-top: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h2 {
    font-size: 17px;
    font-weight: 700;
    color: #434343;
}
h3 {
    font-weight: 700;
}
.ninjas {
    padding: 20px 0;
}
.ninjas h2 {
    margin-bottom: 30px;
}
.card {
    min-height: 90px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.highlight {
    border: 1px solid red;
}

form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
input,
textarea,
select,
button {
    background-color: white;
    padding: 10px;
}
input,
select {
    height: 50px;
}
